:root {
  --primary-color: #432b7d;
  --secondary-color: #fbae17;
  --secondary-color-hover: #ba8312;
  --white-color: #fff;
  --black-color: #000;
  --black-extra-light-color: #000000a6;
  --grey-light-color: #0006;
  --primary-box-shadow-color: #432b7d8c;
  --bg-light-color: #ece9f2;
  --grey-color: #dedede5c;
  --offwhite-color: #d3dde4;

  --regular-font-size: 16px;

  --up-transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

h1 {
  font-size: clamp(2rem, 1.5rem + 1.666667vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 1.125rem + 1.25vw, 2.25rem);
}
h3 {
  font-size: clamp(1.25rem, 0.9375rem + 1.041667vw, 1.875rem);
}
h4 {
  font-size: clamp(1.125rem, 0.9375rem + 0.625vw, 1.5rem);
}
h5 {
  font-size: clamp(1rem, 0.875rem + 0.416667vw, 1.25rem);
}
h6 {
  font-size: clamp(0.875rem, 0.75rem + 0.416667vw, 1.125rem);
}

p {
  font-size: var(--regular-font-size);
}

.container {
  width: 100%;
  max-width: 1560px;
  margin: auto;
}

@media only screen and (max-width: 1560px) {
  .container {
    max-width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.up-banner {
  background-image: url("/images/umrah-package-banner-image.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 75vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.up-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.up-banner .container {
  z-index: 2;
  margin: 0;
}
.up-banner .up-banner__heading {
  color: var(--white-color);
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .up-banner {
    height: 85vh;
  }
}

@media only screen and (max-width: 948px) {
  .up-banner {
    height: 100vh;
  }
}

@media only screen and (max-width: 659px) {
  .up-banner {
    height: 150vh;
  }
}

.primary-button {
  background: var(--secondary-color);
  color: var(--white-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border-color: var(--secondary-color);
  padding: 8px 30px;
  height: 48px;
  transition: var(--up-transition);
}

.primary-button:hover {
  background-color: var(--secondary-color-hover);
  border-color: var(--secondary-color-hover);
}

.up-h2-heading {
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 15px;
  letter-spacing: -1px;
  color: var(--primary-color);
}

.up-after-heading-text {
  font-size: 28px;
  font-weight: 300;
  line-height: 110%;
  margin-bottom: 0;
  color: var(--black-extra-light-color);
}

.up-scroll-content {
  max-height: 650px;
  overflow-y: scroll;
  text-align: justify;
  padding: 15px 15px;
  background-color: var(--grey-color);
  padding: 40px;
  border-radius: 12px;
}

.up-link {
  color: var(--primary-color);
  border-bottom: 1px solid;
  text-decoration: none !important;
  outline: none !important;
}
