/* Header */
header {
  position: sticky;
  top: 0;
  background: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  margin-bottom: -126px;
  padding: 20px 16px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

header.scrolled {
  background: var(--primary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Logo */
.logo img {
  max-height: 50px;
}

/* Navigation */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

header.scrolled .nav-links a {
  color: var(--white-color);
}

.nav-links a:hover {
  color: var(--secondary-color);
}

/* Mobile Menu */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--black-color);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: var(--white-color);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
  }

  header.scrolled .nav-links {
    top: 74px;
  }
  header.scrolled .nav-links a {
    color: var(--black-color);
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}
