.up-umrahpackage .up-form {
  transform: translateY(40px);
}

.up-all-umrah-packages {
  padding-top: 150px;
}

.up-all-umrah-packages__wrapper {
  padding-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 30px;
}

.up-all-umrah-packages__item {
  box-shadow: 0 0 10px 0 var(--primary-box-shadow-color);
  border-radius: 4px;
  margin-top: 10px;
  padding: 12px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  transition: var(--up-transition);
}
.up-all-umrah-packages__item:hover {
  background-color: var(--primary-color);
}
.up-all-umrah-packages__item:hover * {
  color: var(--white-color);
}
.up-umrah-package__link {
  width: 100%;
}

.up-umrah-package__img {
  aspect-ratio: 4 / 3;
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.up-umrah-package__title,
.up-umrah-package__title a {
  font-size: clamp(1.125rem, 0.9375rem + 0.625vw, 1.5rem);
  color: var(--black-color);
  text-decoration: none;
}

.up-umrah-package__tagline {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
}

.up-umrah-package__price {
  font-size: 32px;
  font-weight: 900;
  color: var(--primary-color);
}

.up-umrah-package__btn {
  color: var(--black-extra-light-color);
  font-weight: 700;
  font-size: var(--regular-font-size);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
}

.up-svg-wrapper {
  height: 31px;
  width: 31px;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--up-transition);
}

.up-umrah-package__btn svg {
  width: 9px;
  height: 11px;
  fill: var(--secondary-color);
  transition: var(--up-transition);
}

.up-umrah-package__btn:hover .up-svg-wrapper {
  background-color: var(--secondary-color);
}

.up-umrah-package__btn:hover svg {
  fill: var(--white-color);
}

/* up-all-star-four-umrah-packages */

.up-all-star-four-umrah-packages {
  background-color: var(--bg-light-color);
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
}

/* up-all-star-five-umrah-packages */
.up-all-star-five-umrah-packages {
  padding-top: 100px;
}

/* up-umrah-packages-detailed-sec */

.up-umrah-packages-detailed-sec {
  padding-top: 100px;
  padding-bottom: 100px;
}

.up-umrah-packages-detailed-sec h2 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: clamp(1.25rem, 0.9375rem + 1.041667vw, 1.875rem);
}

.up-umrah-packages-detailed-sec ul {
  list-style-type: none;
}
.up-umrah-packages-detailed-sec ul li {
  padding: 4px;
}
